[user]
    name = "Patrick D'appollonio"
    email = dappollonio@hpe.com

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

[url "ssh://git@github.hpe.com/"]
    insteadOf = https://github.hpe.com/

[alias]
    aa = add -A
    co = checkout
    cb = checkout -b
    st = status -s
    cl = clone
    cm = commit -s -m
    cma = commit -a -s -m
    ca = commit --amend -s -m
    amend = commit --amend -s -m
    diff = diff --word-diff
    br = branch
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    le = log --oneline --decorate
    dl = "!git ll -1"
    aliases = "!git config -l | grep alias | cut -c 7-"
    track = "!f() { git branch --set-upstream-to=\"$1\"/\"$2\"; }; f"
    pom = push origin master

[push]
    default = current

[github]
    user = patrickdappollonio

[core]
    excludesfile = ~/.dotfiles/.global-gitignore
